<div id= "category-list" class= "active options check-boxes col-md-12">
  <div class = "col-md-6">
  <%= f.check_box  :account_management, label:  "Account Management" %>
  <%= f.check_box  :business_and_strategy, label:  "Business & Strategy" %>
  <%= f.check_box  :creative_design, label:  "Creative Design" %>
  <%= f.check_box  :customer_service, label:  "Customer Service" %>
  <%= f.check_box  :data_science, label:  "Data Science" %>
  <%= f.check_box  :editorial, label:  "Editorial" %>
  <%= f.check_box  :education, label:  "Education" %>
  <%= f.check_box  :engineering, label:  "Engineering" %>
  <%= f.check_box  :finance, label:  "Finance" %>
  <%= f.check_box  :fundraising_and_development, label:  "Fundraising & Development" %>
  </div>
  <div class = "col-md-6">
  <%= f.check_box  :healthcare_and_Medicine, label:  "Healthcare & Medicine" %>
  <%= f.check_box  :hr_and_recruiting, label:  "HR & Recruiting" %>
  <%= f.check_box  :legal, label:  "Legal" %>
  <%= f.check_box  :marketing_and_pr, label:  "Marketing & PR" %>
  <%= f.check_box  :operations, label:  "Operations" %>
  <%= f.check_box  :project_and_productmanagement, label:  "Project & Project Management" %>
  <%= f.check_box  :retail, label:  "Retail" %>
  <%= f.check_box  :sales, label:  "Sales" %>
  <%= f.check_box  :socialmedia_and_community, label:  "Social Media & Community" %>
</div>
</div>