<div id= "category-list" class= "active options check-boxes col-md-12">
  <div class = "col-md-6">
    <%= f.check_box  :account_management, class: "category", name: "Account Management" %>
    <%= f.check_box  :business_and_strategy, class: "category", name: "Business & Strategy" %>
    <%= f.check_box  :creative_design, class: "category", name: "Creative Design" %>
    <%= f.check_box  :customer_service, class: "category", name: "Customer Service" %>
    <%= f.check_box  :data_science, class: "category", name: "Data Science" %>
    <%= f.check_box  :editorial, class: "category", name: "Editorial" %>
    <%= f.check_box  :education, class: "category", name: "Education" %>
    <%= f.check_box  :engineering, class: "category", name: "Engineering" %>
    <%= f.check_box  :finance, class: "category", name: "Finance" %>
    <%= f.check_box  :fundraising_and_development, class: "category", name: "Fundraising & Development" %>
  </div>
<div class = "col-md-6">
    <%= f.check_box  :healthcare_and_Medicine, class: "category", name: "Healthcare & Medicine" %>
    <%= f.check_box  :hr_and_recruiting, class: "category", name: "HR & Recruiting" %>
    <%= f.check_box  :legal, class: "category", name: "Legal" %>
    <%= f.check_box  :marketing_and_pr, class: "category", name: "Marketing & PR" %>
    <%= f.check_box  :operations, class: "category", name: "Operations" %>
    <%= f.check_box  :project_and_product_management, class: "category", name: "Project & Product Management" %>
    <%= f.check_box  :retail, class: "category", name: "Retail" %>
    <%= f.check_box  :sales, class: "category", name: "Sales" %>
    <%= f.check_box  :social_media_and_community, class: "category", name: "Social Media & Community" %>
  </div>
</div>