<div class = "container">
  <div class = "title">
    <h1> Welcome to The Muse Job Search Engine </h1>
    <h3> Please choose your search parameters below </h3>
  </div>

  <div class= "search-params col-md-12">
    <div class= "col-md-3">
      <h3><a id="company" class= "search-option" href= "#">COMPANY</a></h3>
    </div>

    <div class= "col-md-3">
      <h3><a id="level" class= "search-option" href= "#">LEVEL</a></h3>
    </div>

    <div class= "col-md-3">
      <h3><a id= "category" class= "search-option" href= "#">CATEGORY</a></h3>
    </div>

    <div class= "col-md-3">
      <h3><a id= "location" class= "search-option" href= "#">LOCATION</a></h3>
    </div>


  <div id="form-div">
      <%= render partial: 'company'%>
      <%= render partial: 'location' %>

    <%= bootstrap_form_for :search, url: {action: "show", controller: "search"} do |f| %>
      <%= render partial: 'level', locals: {f: f} %>
      <%= render partial: 'category', locals: {f: f} %>
  </div>

  </div>

      <%= f.submit "Find Jobs!", class:"find-jobs-button btn btn-default" %>
    <% end %>
</div>
