<div class = "container">
  <div class= "col-md-12">
    <% if !results.empty? %>
      <span id = "back-button"><%= link_to "Back To Search", root_path %></span>
      <h1>Job Listings </h1>
      <% results.each do |job_listing| %>
        <section class="panel panel-default col-md-6 row-eq-height">
          <header class="panel-heading">
            <h3><a href= <%= url_for_full_listing(job_listing) %>><%= company_name(job_listing) %></a></h3>
          </header>
          <ul class="list-group">
            <li class="list-group-item"><b>Post Date:</b> <%= listing_date(job_listing) %></li>
            <li class="list-group-item"><b>Job Title:</b> <%= job_title(job_listing) %></li>
              <% if !locations(job_listing).empty? %>
            <li class="list-group-item">
              <b>Locations: </b>
                <% locations(job_listing).each do |location| %>
                  [<%= location %>]
                <% end %>
              <% end %>
            </li>
              <% if !levels(job_listing).empty? %>
            <li class="list-group-item">
              <b>Levels: </b>
                <% levels(job_listing).each do |level| %>
                  [<%= level %>]
                <% end %>
              <% end %>
            </li>
            <li class="list-group-item"><a class = "show-more" href= "#"><span class="show-more glyphicon glyphicon-chevron-down"></span> More Info</a></li>
          </ul>
          <div class="panel-body job-description hidden">
            <h5><%= job_description(job_listing) %></h5>
          </div>
        </section>
      <% end %>
       <%= bootstrap_form_for :search, url: {action: "show", controller: "search"} do |f| %>
        <% if session[:page] != 0 %>
          <%= f.submit "Previous", class:"nav-button previous-button btn btn-default" %>
          <% end %>
          <%= f.submit "Next", class:"nav-button next-button btn btn-default" %>
        <% end %>
    <% else %>
      <h1> Sorry, no job listings found with your search parameters. <h1>
        <%= link_to "Back To Search", root_path %>
    <% end %>
  </div>
</div>



